#note{
    border: 3px solid lightblue;
    width: 200px;
    height: 200px; 
    position:absolute;
    top: 1000px;
    right:600px;   
    text-align: center;
    box-shadow: 4px 4px lightblue;
    border-radius: 20px;
}